---
import Header from "./Header.astro";
import Footer from "./Footer.astro";

interface Props {
 title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
 <!-- <head>
  <meta charset="UTF-8" />
  <meta
   name="description"
   content="Somos FORGEXP una empresa de tecnología enfocada en tu necesidad personal" 
  />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/FORGEXP.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
 </head> -->
 <head>
	<meta charset="UTF-8" />
	<meta name="description" content="Somos FORGEXP una empresa de tecnología enfocada en tu necesidad personal" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/FORGEXP.svg" />
	<meta name="generator" content={Astro.generator} />
	<title>{title}</title>
	
	<!-- Open Graph -->
	<meta property="og:title" content="FORGEXP" />
	<meta property="og:description" content="Somos FORGEXP una empresa de tecnología enfocada en tu necesidad personal" />
	<meta property="og:image" content="https://www.forgexp.com.ar/FORGEXP.svg" />
	<meta property="og:url" content="https://www.forgexp.com.ar" />
	
	<!-- Twitter Card -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="FORGEXP" />
	<meta name="twitter:description" content="Somos FORGEXP una empresa de tecnología enfocada en tu necesidad personal" />
	<meta name="twitter:image" content="https://www.forgexp.com.ar/FORGEXP.svg" />
  </head>
  
 <body>
  <Header />
  <slot />
  <Footer />
 </body>
</html>
