---
import Header from "./Header.astro";
import Footer from "./Footer.astro";

interface Props {
 title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
 <head>
  <meta charset="UTF-8" />
  <meta
   name="description"
   content="Somos FORGEXP una empresa de tecnología enfocada en tu necesidad personal" 
  />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/FORGEXP.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
 </head>
  
 <body>
  <Header />
  <slot />
  <Footer />
 </body>
</html>
